<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="qr-container">
        <!--<h1>QR Code</h1>-->
        <img src="{{ url_for('qr') }}?data={{ url }}" alt="QR Code">
        <!--<p class="small">{{ url }}</p>-->
    </div>

    <div class="App">
        <header class="App-header">
            <p>
                Codes and secrets <span class="heart">🔐</span> on GitHub Codespaces and Flask
            </p>
            <img src="{{ url_for('static', filename='codercat.png') }}" class="App-logo" alt="logo" />
            <p class="small">
                Edit <code>caesar.py</code> or <code>vigenere.py</code> and refresh to see your changes!
            </p>
            <div style="text-align: left; width: 100%; max-width: 600px; margin: 2rem auto;">
                <h2 class="textarea-title" style="margin-bottom: 0.5rem;">Enter your text</h2>
                <ul class="nav-list"">
                    <li><a href="{{ url_for('caesar') }}" class="App-link">The Caesar cipher</a></li>
                    <li><a href="{{ url_for('caesar1') }}" class="App-link">The Caesar cipher - exercise</a></li>
                    <li><a href="{{ url_for('vigenere1') }}" class="App-link">The Vigenère cipher - encrypt only</a></li>
                    <li><a href="{{ url_for('vigenere2') }}" class="App-link">The Vigenère cipher - exercise</a></li>
                    <li><a href="{{ url_for('vigenere') }}" class="App-link">The Vigenère cipher - complete</a></li>
                </ul>
            </div>

        </header>
    </div>
</body>

</html>
